
<div class = "jumbotron center" >
<h1> Welcome page ! </h1>

<!-- Usual HTML way
<p>Let's sign up <a href="#">here</a>  </p>
-->
<!-- Usual RUBY way-->
<p><%= link_to "Log in" , "#" ,class: " btn btn-default" %> 
<%= link_to "Sign up" , "#" ,class: " btn btn-primary " %> </p>
</div>
